In [1]:
#NOT included in File
#pip install tensorflow

In [2]:
import pandas as pd
import numpy as np
import tensorflow as tf

In [3]:
dataset = pd.read_csv("ANN_Dataset.csv")
dataset

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,15606229,Obijiaku,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,9997,15569892,Johnstone,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,9998,15584532,Liu,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,9999,15682355,Sabbatini,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,10000,15628319,Walker,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [4]:
X = dataset.iloc[:, 3:-1].values
Y = dataset.iloc[:, -1].values
print(X)
print(Y)

[[619 'France' 'Female' ... 1 1 101348.88]
 [608 'Spain' 'Female' ... 0 1 112542.58]
 [502 'France' 'Female' ... 1 0 113931.57]
 ...
 [709 'France' 'Female' ... 0 1 42085.58]
 [772 'Germany' 'Male' ... 1 0 92888.52]
 [792 'France' 'Female' ... 1 0 38190.78]]
[1 0 1 ... 1 1 0]

In [5]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
X[:, 2] = le.fit_transform(X[:, 2])
print(X)

[[619 'France' 0 ... 1 1 101348.88]
 [608 'Spain' 0 ... 0 1 112542.58]
 [502 'France' 0 ... 1 0 113931.57]
 ...
 [709 'France' 0 ... 0 1 42085.58]
 [772 'Germany' 1 ... 1 0 92888.52]
 [792 'France' 0 ... 1 0 38190.78]]

In [6]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
ct = ColumnTransformer(transformers = [('encoder', OneHotEncoder(), [1])], remainder = 'passthrough')
X = np.array(ct.fit_transform(X))
print(X)

[[1.0 0.0 0.0 ... 1 1 101348.88]
 [0.0 0.0 1.0 ... 0 1 112542.58]
 [1.0 0.0 0.0 ... 1 0 113931.57]
 ...
 [1.0 0.0 0.0 ... 0 1 42085.58]
 [0.0 1.0 0.0 ... 1 0 92888.52]
 [1.0 0.0 0.0 ... 1 0 38190.78]]

In [7]:
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.20, random_state=0)

In [8]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [9]:
#Initializing the ANN
ann = tf.keras.models.Sequential()

In [10]:
#Adding the input layer and the first hidden layer
ann.add(tf.keras.layers.Dense(units=6, activation='relu'))

In [11]:
#Adding the second hidden layer
ann.add(tf.keras.layers.Dense(units=6, activation='relu'))

In [12]:
#Adding the output layer
ann.add(tf.keras.layers.Dense(units=1, activation='sigmoid'))

In [13]:
#Compiling the ANN
ann.compile(optimizer= 'adam', loss = 'binary_crossentropy', metrics = ['accuracy'])

In [22]:
#training the ANN on the training set
ann.fit(X_train,Y_train,batch_size=32,epochs=50)

Epoch 1/50
250/250 [==============================] - 0s 2ms/step - loss: 0.3364 - accuracy: 0.8630
Epoch 2/50
250/250 [==============================] - 0s 2ms/step - loss: 0.3363 - accuracy: 0.8625
Epoch 3/50
250/250 [==============================] - 0s 1ms/step - loss: 0.3364 - accuracy: 0.8629
Epoch 4/50
250/250 [==============================] - 0s 2ms/step - loss: 0.3362 - accuracy: 0.8627
Epoch 5/50
250/250 [==============================] - 0s 2ms/step - loss: 0.3364 - accuracy: 0.8646
Epoch 6/50
250/250 [==============================] - 0s 2ms/step - loss: 0.3363 - accuracy: 0.8631
Epoch 7/50
250/250 [==============================] - 0s 2ms/step - loss: 0.3368 - accuracy: 0.8656
Epoch 8/50
250/250 [==============================] - 0s 2ms/step - loss: 0.3363 - accuracy: 0.8637
Epoch 9/50
250/250 [==============================] - 0s 2ms/step - loss: 0.3366 - accuracy: 0.8649
Epoch 10/50
250/250 [==============================] - 0s 2ms/step - loss: 0.3364 - accuracy: 0.8641
Epoch 11/50
250/250 [==============================] - 0s 1ms/step - loss: 0.3363 - accuracy: 0.8640
Epoch 12/50
250/250 [==============================] - 0s 2ms/step - loss: 0.3368 - accuracy: 0.8636
Epoch 13/50
250/250 [==============================] - 0s 2ms/step - loss: 0.3360 - accuracy: 0.8639
Epoch 14/50
250/250 [==============================] - 0s 2ms/step - loss: 0.3360 - accuracy: 0.8635
Epoch 15/50
250/250 [==============================] - 0s 2ms/step - loss: 0.3363 - accuracy: 0.8640
Epoch 16/50
250/250 [==============================] - 0s 2ms/step - loss: 0.3362 - accuracy: 0.8624
Epoch 17/50
250/250 [==============================] - 0s 2ms/step - loss: 0.3365 - accuracy: 0.8641
Epoch 18/50
250/250 [==============================] - 0s 2ms/step - loss: 0.3363 - accuracy: 0.8646
Epoch 19/50
250/250 [==============================] - 0s 2ms/step - loss: 0.3362 - accuracy: 0.8619
Epoch 20/50
250/250 [==============================] - 0s 2ms/step - loss: 0.3362 - accuracy: 0.8649
Epoch 21/50
250/250 [==============================] - 0s 2ms/step - loss: 0.3364 - accuracy: 0.8627
Epoch 22/50
250/250 [==============================] - 0s 2ms/step - loss: 0.3361 - accuracy: 0.8651
Epoch 23/50
250/250 [==============================] - 0s 2ms/step - loss: 0.3358 - accuracy: 0.8629
Epoch 24/50
250/250 [==============================] - 0s 2ms/step - loss: 0.3363 - accuracy: 0.8634
Epoch 25/50
250/250 [==============================] - 0s 2ms/step - loss: 0.3362 - accuracy: 0.8649
Epoch 26/50
250/250 [==============================] - 0s 2ms/step - loss: 0.3365 - accuracy: 0.8643
Epoch 27/50
250/250 [==============================] - 0s 2ms/step - loss: 0.3361 - accuracy: 0.8654
Epoch 28/50
250/250 [==============================] - 0s 2ms/step - loss: 0.3358 - accuracy: 0.8634
Epoch 29/50
250/250 [==============================] - 0s 2ms/step - loss: 0.3361 - accuracy: 0.8644
Epoch 30/50
250/250 [==============================] - 0s 2ms/step - loss: 0.3361 - accuracy: 0.8648
Epoch 31/50
250/250 [==============================] - 0s 2ms/step - loss: 0.3365 - accuracy: 0.8622
Epoch 32/50
250/250 [==============================] - 0s 2ms/step - loss: 0.3367 - accuracy: 0.8644
Epoch 33/50
250/250 [==============================] - 0s 2ms/step - loss: 0.3368 - accuracy: 0.8637
Epoch 34/50
250/250 [==============================] - 0s 2ms/step - loss: 0.3360 - accuracy: 0.8644
Epoch 35/50
250/250 [==============================] - 0s 2ms/step - loss: 0.3369 - accuracy: 0.8619
Epoch 36/50
250/250 [==============================] - 0s 2ms/step - loss: 0.3359 - accuracy: 0.8649
Epoch 37/50
250/250 [==============================] - 0s 2ms/step - loss: 0.3358 - accuracy: 0.8645
Epoch 38/50
250/250 [==============================] - 0s 2ms/step - loss: 0.3360 - accuracy: 0.8633
Epoch 39/50
250/250 [==============================] - 0s 2ms/step - loss: 0.3357 - accuracy: 0.8631
Epoch 40/50
250/250 [==============================] - 0s 2ms/step - loss: 0.3360 - accuracy: 0.8631
Epoch 41/50
250/250 [==============================] - 0s 2ms/step - loss: 0.3357 - accuracy: 0.8635
Epoch 42/50
250/250 [==============================] - 1s 2ms/step - loss: 0.3359 - accuracy: 0.8634
Epoch 43/50
250/250 [==============================] - 0s 2ms/step - loss: 0.3361 - accuracy: 0.8635
Epoch 44/50
250/250 [==============================] - 0s 2ms/step - loss: 0.3356 - accuracy: 0.8650
Epoch 45/50
250/250 [==============================] - 0s 2ms/step - loss: 0.3360 - accuracy: 0.8637
Epoch 46/50
250/250 [==============================] - 0s 2ms/step - loss: 0.3353 - accuracy: 0.8641
Epoch 47/50
250/250 [==============================] - 0s 2ms/step - loss: 0.3352 - accuracy: 0.8640
Epoch 48/50
250/250 [==============================] - 0s 2ms/step - loss: 0.3358 - accuracy: 0.8650
Epoch 49/50
250/250 [==============================] - 1s 2ms/step - loss: 0.3358 - accuracy: 0.8641
Epoch 50/50
250/250 [==============================] - 0s 2ms/step - loss: 0.3358 - accuracy: 0.8645

In [19]:
print(ann.predict(sc.transform([[1,0,0,600,1,40,3,60000,2,1,1,50000]])) > 0.5)

1/1 [==============================] - 0s 27ms/step
[[False]]

In [20]:
Y_pred = ann.predict(X_test)
Y_pred = (Y_pred > 0.5)
print(np.concatenate((Y_pred.reshape(len(Y_pred),1),Y_test.reshape(len(Y_test),1)),1))

63/63 [==============================] - 0s 1ms/step
[[0 0]
 [0 1]
 [0 0]
 ...
 [0 0]
 [0 0]
 [0 0]]

In [21]:
from sklearn.metrics import confusion_matrix, accuracy_score
cm = confusion_matrix(Y_test,Y_pred)
print(cm)
accuracy_score(Y_pred,Y_test)

[[1521   74]
 [ 204  201]]

0.861