# a) Print set of Natural numbers and Prime numbers upto 20

## Natural Numbers upto 20

In [27]:
S = set()
for i in range (1,21):
    S.add(i)
print('Natural Numbers -', S)

Natural Numbers - {1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20}

## Prime Numbers upto 20

In [28]:
def prime():
    S2 = set()
    for i in range(2,21):
        count = 0
        for j in range(2,i):
            if(i%j == 0):
                count = 1
                break
        if(count == 0):
            S2.add(i)
    return S2
        
S2 = prime()
print('Prime Numbers -', S2)

Prime Numbers - {2, 3, 5, 7, 11, 13, 17, 19}

## 1. Set Difference

In [29]:
print(S-S2)

{1, 4, 6, 8, 9, 10, 12, 14, 15, 16, 18, 20}

## 2. Intersection of Sets

In [30]:
print(S&S2)

{2, 3, 5, 7, 11, 13, 17, 19}

## 3. Union of Sets

In [31]:
print(S|S2)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20}

# b) Count the number of vowels in a given string using set

In [32]:
str = "National Institute of Technology, Raipur"
vowel = set("aeiouAEIOU")
#print(vowel)
#print(str)
count = 0
for i in str:
    for j in vowel:
        if i == j:
            count = count + 1
            break
if count == 0:
    print('No vowels found')
else:
    print('Total vowels are :',count)

Total vowels are : 15

# c) Convert list into Set and Tuple

In [33]:
l = [2,9,8,7,2,6,8,2,6]
print('List -', l)
s = set(l)
print ('Set -',s)
t = tuple(l)
print ('Tuple -', t)

List - [2, 9, 8, 7, 2, 6, 8, 2, 6]
Set - {2, 6, 7, 8, 9}
Tuple - (2, 9, 8, 7, 2, 6, 8, 2, 6)

# d) Find maximum and minimum number obtained

In [34]:
print('Maximum number -', max(s))
print('Minimum number -', min(s))

Maximum number - 9
Minimum number - 2

# e) Remove the element from the set to create empty set

In [35]:
s.clear()
print('Set -', s)

Set - set()

# f) Check whether Panagram or not

In [36]:
import string
loweralpha = string.ascii_lowercase
loweralpha = set(loweralpha)
#print(loweralpha)
str = input("Enter a string: ") 
str = str.lower()
str = set(str)
#print(str)

if str >= loweralpha:
    print('String is Panagram')
else:
    print('String is NOT Panagram')

Enter a string: The quick brown fox jumps over the lazy dog
String is Panagram